[submodule "lib/svgweb"]
	path = lib/svgweb
	url = https://github.com/Justinfront/svgweb.git
[submodule "lib/robotlegs-extensions-SARS"]
	path = lib/robotlegs-extensions-SARS
	url = https://github.com/Justinfront/robotlegs-extensions-SARS.git
[submodule "lib/as3-signals"]
	path = lib/as3-signals
	url = https://github.com/robertpenner/as3-signals
